body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../images/bg2.png') no-repeat center/cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.box {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(12px);
    padding: 40px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 8px 30px rgba(0,0,0,0.4);
}

.box h2 {
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: white;
    text-decoration: none;
}